<html>

<head>After Class Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>   
        <main>
            <div v-if='showsubject'>
                <figure>
                    <img v-bind:src="subject.image">
                </figure>
                <h2 v-text="subject.title"></h2>
                <p v-html="subject.description"></p>
                <p>Price: {{subject.price}}</p>
                <p>Available stock: {{subject.availableInventory  }}</p>
                <!-- <button v-on:click="addToCart" 
                v-show='canAddToCart'>
                    Add to cart
                </button> -->
                <button v-on:click='addToCart' v-if='canAddToCart'>Add to cart</button>
                <button disabled="disabled" v-else>Add to cart</button>
            </div>
            <div v-else>
                <h2>Checkout</h2>
            </div>
        </main>
    </div>
       
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Club',
                product: {
                    subject:"Math",
                    location:"London",
                    price: 100,
                    numberofspaces: 5,
                    image: "math.png"
                },
                cart: [],
                showsubject: true,
            },
            methods: {
                addToCart() {
                    this.cart.push(this.subject.id);
                    // console.log(this.cart)
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showsubject = this.showsubject ?  false : true;
                },
            },
            computed: {
                cartItemCount() {
                    return this.cart.length ;
                },
                canAddToCart() {
                    return this.showsubject.availableInventory > this.cartItemCount;
                }
            },
        });
    </script>
</body>
</html>